<?xml version="1.0"?>
<robot name="farmbot" xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:include filename="../parts/z_axis.urdf" ns="farmbot"/>
	<xacro:include filename="../parts/cross_slide.urdf" ns="farmbot"/>
	<xacro:include filename="../joints/joint_crossSlide_zAxis.xacro" ns="farmbot"/>
	<link name="base_link" />
	<joint name="base_joint" type="fixed">
		<parent link="base_link"/>
		<child link="cross_slide"/>
	</joint>
</robot>